.app-main{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:10px;
    
}
.app{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.app-footer{
    width: 100%;
    background-color: rgb(211, 179, 138);
    position: fixed;
    bottom: 0;
    padding: 20px;
    
}
.app-footer{
    width: 100%;
}
.app-body{
    width: 100%;
}
