.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.footer span{
    color: black;
    font-weight: 500;
    cursor: pointer;
}
.footer span:hover{
    color: rgb(63, 60, 60);
    font-weight: 700;
}